* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.hidden {
    display: none;
}

#board {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background: #222;
    border: 2px solid #555;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}


.cell:hover {
    background: #333;
}

.symbol-buttons button {
    font-size: 32px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background: #444;
    border: none;
    color: white;
    border-radius: 8px;
}

.symbol-buttons button:hover {
    background: #666;
}

#score {
    margin-top: 10px;
}

.winState {
    background-color: rgb(1, 210, 1);
}

#gif-container {
    margin-top: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gif-container img {
    max-height: 200px;
    border-radius: 10px;
}

#rules-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #ff0055;
    color: #fff;
    font-size: 18px;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

#rules-btn:hover {
    background: #ff3377;
}

#rules-screen.hidden {
    display: none;
}

#rules-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#back-btn {
    margin-top: 20px;
    background: #ff0055;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

#back-btn:hover {
    background: #ff3377;
}